<div class="row w-100 contenedor">
    <button class="btn btn-success col-md-6 col-sm-12 p-5 button" (click)="openProductModal()">REGISTRAR ENTRADA</button>
    <button class="btn btn-danger col-md-6 col-sm-12 p-5 button" (click)="openKeypadModal()">ELIMINAR ENTRADA</button>
</div>
<app-grid-storage></app-grid-storage>
<div class="row w-100 contenedor pie">
    <div class="col-4 foot">
        <h3>FINCA 01</h3>
    </div>
    <div class="col-4 foot">
        <h3>PARCELA 02</h3>
    </div>
    <div class="col-4 foot">
        <h3>LOTE: 000051541</h3>
    </div>
</div>