.button {
    font-size: 30px;
    border-radius: 0px;
}

.foot h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor {
    margin: 0;
}

::ng-deep .grid-style {
    height: 78.9%;
    width: 100%;
}