<div class="row row-height">
    <div class="col-12 column-custom">
        <div class="card h-100" style="border-radius: 0; background-color: rgb(255, 56, 255);">
            <div class="card-body card-custom">
                <h1>{{productSelected}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row row-height">
    <div class="col-8 column-custom">
        <div class="card h-100" style="border-radius: 0; background-color: rgb(255, 255, 255);">
            <div class="card-body card-custom">
                <h1 style="color: rgba(0, 0, 0, 0.808);">{{displayValue}}</h1>
            </div>
        </div>
    </div>
    <div class="col-4 column-custom">
        <button class="btn btn-danger h-100 w-100 btn-border" (click)="onDeleteClick()"><h1>BORRAR</h1></button>
    </div>
</div>

<div *ngFor="let row of keypad" class="row row-height">
    <div *ngFor="let number of row" class="col-4 column-custom">
        <button class="btn btn-warning h-100 w-100 btn-number" (click)="onNumberClick(number)"><h1>{{number}}</h1></button>
    </div>
</div>

<div class="row row-height">
    <div class="col-6 column-custom">
        <button class="btn btn-warning h-100 w-100 btn-number" (click)="onNumberClick(0)"><h1>0</h1></button>
    </div>
    <div class="col-6 column-custom">
        <button class="btn btn-success h-100 w-100 btn-border" (click)="activeModal.close({id_articulo: idProductSelected, cajas: displayValue})"><h1>ACEPTAR</h1></button>
    </div>
</div>