<div class="container-fluid h-100" style="background-color: rgba(0, 0, 0, 0.11);">
    <div class="row row-height">

        <div class="col-md-6 col-sm-12 column-left" [routerLink]="['/fincas']">
            <div class="card h-100" style="background-color: rgb(255, 190, 68); border-radius: 0;">
                <div class="card-body card-custom">
                    <h1>ENTRADA ALMACEN</h1>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 column-right">
            <div class="card h-100" style="background-color: rgb(255, 52, 130); border-radius: 0;">
                <div class="card-body card-custom">
                    <h1>PALETS</h1>
                </div>
            </div>
        </div>

    </div>

    <div class="row row-height row-margin">

        <div class="col-md-6 col-sm-12 column column-left">
            <div class="card h-100" style="background-color: rgb(170, 23, 255); border-radius: 0;">
                <div class="card-body card-custom">
                    <h1>PROVEEDORES</h1>
                </div>
            </div>
        </div>

        <!--<div class="col-md-6 col-sm-12 column column-right">
            <div class="card h-100" style="background-color: rgb(42, 134, 255); border-radius: 0;">
                <div class="card-body card-custom">
                    <h1>NONE</h1>
                </div>
            </div>
        </div> -->
    </div>
</div>