/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.ag-cell-focus,
.ag-cell-no-focus {
    border: none !important;
}

.no-border.ag-cell:focus {
    border: none !important;
    outline: none;
}

.ag-row .ag-cell,
.ag-header-cell-label {
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size: 35vw;*/
}

.ag-header-cell-label {
    font-size: 1.5vw;
}

.ag-row .ag-cell {
    font-size: 2vw;
}

.ag-cell-label-container {}

.modal-content {
    background-color: rgba(0, 0, 0, .0001) !important;
    border: 0px;
}